- hosts: localhost
  connection: local
  become: yes
  tasks:


  - name: "Add Docker's APT signing key"
    ansible.builtin.apt_key:
      url: https://download.docker.com/linux/ubuntu/gpg
      keyring: /usr/share/keyrings/docker-archive-keyring.gpg


  - name: "Add Docker APT repository"
    ansible.builtin.apt_repository:
      repo: deb [arch=amd64 signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
      filename: docker


  - name: "Remove incompatible/old packages"
    apt:
      pkg:
      - docker
      - docker-engine
      - docker.io
      - containerd
      - runc
      state: absent


  - name: "Install Docker"
    apt:
      pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose


  - name: "mkdir /etc/systemd/system/docker.service.d"
    file:
      path: /etc/systemd/system/docker.service.d
      state: directory

  - name: "Change docker cgroups driver to 'systemd' (recommended by kubeadm)"
    copy:
      content: "[Service]\nExecStart=\nExecStart=/usr/bin/dockerd -H fd:// --containerd=/run/containerd/containerd.sock --exec-opt native.cgroupdriver=systemd\n"
      dest: /etc/systemd/system/docker.service.d/for-k8s.conf
    register: systemd_docker_extend

  - name: "Reload systemd"
    command: "systemctl daemon-reload"
    when: systemd_docker_extend.changed
    register: systemd_daemon_reload

  - name: "Restart docker.service"
    command: "systemctl restart docker.service"
    when: systemd_daemon_reload.changed



  ### Crons
  #
  - name: "docker :: logs :: truncate :: script"
    copy:
      src: files/docker-logs-truncate.sh
      dest: /root/docker-logs-truncate.sh
      mode: 0755

  - name: "docker :: logs :: truncate :: cron"
    ansible.builtin.cron:
      name: "docker :: logs :: truncate"
      job: "/root/docker-logs-truncate.sh"
      minute: "9"
      hour: "4"
