[mysqld]

; Query cache
query_cache_type        = 1
query_cache_size        = 64M

; Various buffer adjustments
join_buffer_size        = 2M
key_buffer_size         = 32M
max_connections         = 80
max_tmp_tables          = 128
max_heap_table_size     = 32M
read_buffer_size        = 2M
read_rnd_buffer_size    = 4M
tmp_table_size          = 32M

; Table cache
table_definition_cache  = 4096
table_open_cache        = 4096

; Performance schema
performance_schema = 1

; Slow query logging
long_query_time               = 1
log_queries_not_using_indexes = 1
min_examined_row_limit        = 5000
slow_query_log                = 1

; InnoDB settings
innodb_buffer_pool_size        = 512M
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size           = 128M
